.accent-color {
  background-color: #bd5d38 !important;
}
.accent-text-color {
  color: #bd5d38 !important;
}
.accent-blockquote-color {
  border-color:#bd5d38 !important;
}
.primary-color {
  background-color: #343a40 !important;
}
.primary-text-color {
  color: #343a40 !important;
}
.primary-blockquote-color {
  border-color:#343a40 !important;
}
.gold-color {
  background-color: #C9B037 !important;
}
.silver-color {
  background-color: #B4B4B4 !important;
}
.bronze-color {
  background-color: #6A3805 !important;
}
