header, main, footer {
  padding-left: 272px;
  color: #343a40 !important;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
    color: #343a40 !important;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}
main {
  height: 100%;
}
section {
  height: 100%;
  margin-left: 2.5%;
}
@media only screen and (max-width : 992px) {
  section {
    margin-top: 56px;
    height: 80%;
    margin-left: 2.5%;
  }
}
h1, h6 {
  margin: 0px;
}
a {
  color: #343a40 !important;
}
