header, main, footer {
  padding-left: 272px;
  color: #343a40 !important;
}
@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
    color: #343a40 !important;
  }
}
body {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
}
main {
  height: 100%;
}
section {
  min-height: 25%;
  margin-left: 2.5%;
}
@media only screen and (max-width : 992px) {
  section {
    min-height: 25%;
    margin-top: 56px !important;
    margin-left: 2.5%;
  }
}
h1, h4, h5, h6 {
  margin: 0px;
}
a {
  color: #343a40 !important;
}
p {
  margin-top: 6px;
  margin-bottom: 6px;
}
blockquote {
  margin-top: 0px;
  margin-bottom: 0px;
}
