.primary-text {
  font-family: Saira Extra Condensed, serif;
  font-weight: 700;
  text-transform: uppercase;
}
.secondary-text {
  font-family: Saira Extra Condensed, serif;
  font-weight: 700;
}
.default-margin {
  margin-top:0px;
  margin-bottom:24px !important;
}
.smallest-margin {
  margin-top:0px;
  margin-bottom:6px !important;
}
.small-margin {
  margin-top:0px;
  margin-bottom:12px !important;
}
.biggest-margin {
  margin-top:0px;
  margin-bottom:220px !important;
}
.main-section {
  height: 100%;
}
@media only screen and (max-width : 992px) {
  .main-section {
    height: 80%;
  }
}
.last-section {
  height: 75%;
}
@media only screen and (max-width : 992px) {
  .last-section {
    height: 50%;
  }
}
.topleft-btn {
  position: absolute;
  right: -15px;
  top: -15px;
}
