.custom-dropdown {
  background-color: #bd5d38 !important;
  padding-bottom: 12px;
  padding-left: 12px;
  padding-right: 12px;
  width: 100% !important
}
.custom-brand-logo {
  font-size: 1.7rem;
  padding-left: inherit !important;
  color: white !important;
}
.nav-content {
  margin: 0px;
  color: white !important;
  font-weight: bold;
  font-size: 16px;
  height: 40px;
}
